<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
    		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pkd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Peacock Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PKDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>peacock-library</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>library_document</string>
			<key>CFBundleTypeName</key>
			<string>Peacock Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>nl.johankool.peacocklibrary</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>JKLibrary</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jdx</string>
				<string>dx</string>
				<string>hpj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>library_document</string>
			<key>CFBundleTypeName</key>
			<string>JCAMP Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.jcamp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>JKLibrary</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inchi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>library_document</string>
			<key>CFBundleTypeName</key>
			<string>Inchi File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>JKLibrary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>peacock</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>peacock_document</string>
			<key>CFBundleTypeName</key>
			<string>Peacock File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>nl.johankool.peacock.data</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>JKGCMSDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>Tab Delimited Text File</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdf</string>
				<string>nc</string>
				<string>andi</string>
				<string>aia</string>
				<string>CDF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>netcdf_document</string>
			<key>CFBundleTypeName</key>
			<string>NetCDF/ANDI File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.ucar.unidata.netcdf.andi</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>JKGCMSDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>Peacock File</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>peacock-stats</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>peacock_document</string>
			<key>CFBundleTypeName</key>
			<string>Peacock Statistics File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>nl.johankool.peacock.statistics</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>JKStatisticsDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>peacock_document</string>
			<key>CFBundleTypeName</key>
			<string>Tab Delimited Text File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>JKGCMSDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Peacock</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Peacock Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Peacock Help</string>
	<key>CFBundleIconFile</key>
	<string>peacock_application</string>
	<key>CFBundleIdentifier</key>
	<string>nl.johankool.Peacock</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Peacock</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.50</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>0000</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.6</string>
	<key>NSAppleScriptEnabled</key>
	<string>NO</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2003-2007 Johan Kool ea</string>
	<key>NSMainNibFile</key>
	<string>JKMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>JKAppDelegate</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUCheckAtStartup</key>
	<false/>
	<key>SUFeedURL</key>
	<string>http://peacock.johankool.nl/peacock.xml</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SmartCrashReports_CommentsTemplate</key>
	<string>Please include your e-mail address if you wish to be contacted in regard to this crash.</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>Johan Kool</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-9841B93DF2</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Peacock File</string>
			<key>UTTypeIconFile</key>
			<string>peacock_document</string>
			<key>UTTypeIdentifier</key>
			<string>nl.johankool.peacock.data</string>
			<key>UTTypeReferenceURL</key>
			<string>http://peacock.johankool.nl/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>peacock</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-peacock</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Peacock Library File</string>
			<key>UTTypeIconFile</key>
			<string>library_document</string>
			<key>UTTypeIdentifier</key>
			<string>nl.johankool.peacocklibrary</string>
			<key>UTTypeReferenceURL</key>
			<string>http://peacock.johankool.nl/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>peacock-library</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-peacock-library</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Peacock File</string>
			<key>UTTypeIconFile</key>
			<string>peacock_document</string>
			<key>UTTypeIdentifier</key>
			<string>nl.johankool.peacock.statistics</string>
			<key>UTTypeReferenceURL</key>
			<string>http://peacock.johankool.nl/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>peacock-stats</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-peacock-stats</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JCAMP-DX File</string>
			<key>UTTypeIconFile</key>
			<string>library_document</string>
			<key>UTTypeIdentifier</key>
			<string>org.jcamp</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.jcamp.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jdx</string>
					<string>dx</string>
					<string>hpj</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-jcamp-dx</string>
			</dict>
		</dict>
<!--		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NetCDF File</string>
			<key>UTTypeIconFile</key>
			<string>netcdf_document</string>
			<key>UTTypeIdentifier</key>
			<string>edu.ucar.unidata.netcdf</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.unidata.ucar.edu/software/netcdf/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdf</string>
					<string>nc</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-netcdf</string>
			</dict>
		</dict> -->
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>edu.ucar.unidata.netcdf</string>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NetCDF/ANDI File</string>
			<key>UTTypeIconFile</key>
			<string>netcdf_document</string>
			<key>UTTypeIdentifier</key>
			<string>edu.ucar.unidata.netcdf.andi</string>
			<key>UTTypeReferenceURL</key>
			<string>http://pubs.acs.org/hotartcl/tcaw/98/may/stan.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdf</string>
					<string>nc</string>
					<string>andi</string>
					<string>aia</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-netcdf</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
