<?xml version="1.0" encoding="UTF-8"?>
<style xmlns="http://purl.org/net/xbiblio/csl" class="{{ object.class }}" xml:lang="en">
  <info>
    <title>{{ object.title }}</title>
    <id>{{ object.id }}</id>
    <link href="{{ object.id }}"/>
    <author>
      <name>{{ object.author_name }}</name>
      <email>{{ object.author_email }}</email>
    </author>
    {% for category in object.get_categories.all %}    <category term="{{ category }}"/>    {% endfor %}
    <created>{{ object.created }}</created>
    <updated>{{ object.updated }}</updated>
  </info>
  {% for macro in object.macro_list %}    {{ macro }}  {% endfor %}
  {% block citation %}
  <citation>
    {% for option in object.citation.get_options.all %}
    <option name="{{ option.type.name }}" value="{{ option.value }}"/>
    {% endfor %}
    <sort>
      <key macro="author"/>
      <key variable="issued"/>
    </sort>
    <layout prefix="{{ object.citation.prefix }}" suffix="{{ object.citation.suffix }}" delimiter="{{ object.citation.delimiter }}">
      {% for item in object.citation.layout.get_items.all %}
      <text macro="{{ item.macro.slug }}"{% if item.macro.prefix %} prefix="{{ item.macro.prefix }}"{% endif %}{% if item.macro.suffix %} prefix="{{ item.macro.suffix }}"{% endif %}/>
      {% endfor %}
    </layout>
  </citation>
  {% endblock %}
  {% block bibliography %}
  <bibliography>
    {% for option in object.bibliography.get_options.all %}
    <option name="{{ option.type.name }}" value="{{ option.value }}"/>
    {% endfor %}
    <sort>
      <key macro="author"/>
      <key variable="issued"/>
    </sort>
    <layout prefix="{{ object.bibliography.prefix }}" 
	suffix="{{ object. bibliography.suffix }}" delimiter="{{ object. bibliography.delimiter }}">
      {% for item in object. bibliography.layout.get_items.all %}
      <text macro="{{ item.macro.slug }}"/>
      {% endfor %}
    </layout>
  </bibliography>
  {% endblock %}
</style>

