<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>peacock-library</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>library_document</string>
			<key>CFBundleTypeName</key>
			<string>Peacock Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>nl.johankool.peacock.library</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PKLibrary</string>
			<key>NSExportableTypes</key>
			<array>
				<string>org.jcamp</string>
			</array>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jdx</string>
				<string>dx</string>
				<string>hpj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>library_document</string>
			<key>CFBundleTypeName</key>
			<string>JCAMP Library</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.jcamp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PKLibrary</string>
			<key>NSExportableTypes</key>
			<array>
				<string>nl.johankool.peacock.library</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>peacock</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>peacock_document</string>
			<key>CFBundleTypeName</key>
			<string>Peacock File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>nl.johankool.peacock.data</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PKGCMSDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdf</string>
				<string>nc</string>
				<string>andi</string>
				<string>aia</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>netcdf_document</string>
			<key>CFBundleTypeName</key>
			<string>NetCDF/ANDI File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.ucar.unidata.netcdf.andi</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PKGCMSDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>nl.johankool.peacock.data</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>peacock_document</string>
			<key>CFBundleTypeName</key>
			<string>Tab Delimited Text File</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>PKGCMSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>peacock-plugin</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Peacock Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>nl.johankool.peacock.plugin</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Peacock</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Peacock Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Peacock Help</string>
	<key>CFBundleIconFile</key>
	<string>peacock_application</string>
	<key>CFBundleIdentifier</key>
	<string>nl.johankool.Peacock</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Peacock</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.27</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>0000</string>
	<key>NSAppleScriptEnabled</key>
	<string>NO</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2003-2008 Johan Kool ea</string>
	<key>NSMainNibFile</key>
	<string>PKMainMenu</string>
	<key>NSPrincipalClass</key>
	<string>PKAppDelegate</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUCheckAtStartup</key>
	<false/>
	<key>SUFeedURL</key>
	<string>http://peacock.johankool.nl/peacock.xml</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUExpectsDSASignature</key>
	<true/>
	<key>SUPublicDSAKey</key>
	<string>MIIDPDCCAi4GByqGSM44BAEwggIhAoIBAQDzmSSB6Ex8wFj2go4K2quXiXg9KHQ+
	TGAZWoNvrhHhUWCbVNBaD4j1h+JxHq0wY6PhU0LGCeymLLufu1Z2keCGY6OWTqYb
	MpkELF6uJL+wQBv3p3NPtAzhIu96Q7qhSxrYvGOe3WrjsQOp1wc8Xt0KR+NQ5wBb
	5GUW6eaY2Irc23LuNGXRWOS7EUawQAA3x9yIhYJtfq4ABFvRZXLEj+KBiJ2+HL4g
	LAkZxVk2jpG2qiZOuAagmOIpzwfX5IKmaXRPNdBEgT3XZ/+QF6Ztbw8B2iHaRJ45
	E6VgYPXO8xx85QdQ6Nsdk/HWQ8Viw7k+gH/YRJngrlqOaOCLZhJLBK1/AhUAxwuz
	1UQJW3+gXuzdFFU4Yy9TCKcCggEBAJxIWuMY3c0LV+5Jxw2iVfzGEF5M6cNTVnWJ
	SkA1JCGwhp2HBvyiiB+oEx/DCnf6h2ZNSGmOIc5Z2VEFhO0xuv0hH+0MpoWys8vS
	Q3C2YfbpbV3xEoByoNaTv9HJFDbCBXQT2EEf0mddrXncMDGPaDYiXDrKKMx8UtHz
	uHQYCu6jJKtXBYPCZv/5EzzhNEiG6hegLggAaEn7npaFCbfcw4gLBQjcOdxsfsNI
	gjS31Fv+LeSIROtFJUrQBpW+SflAk4ubdgydSvVRfrOnkIt4SRj9Aq2C5THLjPD0
	4IXncVH5xIp3vm8MB74yyoP56I0Ok6l7IZ0jx/Ik3k9EtEXZKMMDggEGAAKCAQEA
	x0hp4pJWv3PaWsYn8ll8XFV0xWql1qdE3b4sEts6ARYD6jdK1yelzONVGApHpT8b
	wD1uUAgZMbGOKtSxbhKDmGXI9wBuMisKRi5DAz9mpexIY0QnY6UgGtKx7souPhwq
	LjISHIIMBMLBCJYf6VllzMDD9gOLlAWMAyCxCLKKCs/pnlU+OfgaWwljtxpwYxhI
	j0YYbQNGdMaAKjbbSINDUEqNRBqn46PY9A/D7XsM6AQ9XSw7IvAWtcWayk0gT9N4
	SDqn8ZfDFx2NFOSVF9Ok/nHek9KgJjQWgzadv7YkmvsqQ+6UqkoDZZPXNilGXWVv
	G0d3yja05ajgQkTsWpZQHA==</string>
	<key>SmartCrashReports_CommentsTemplate</key>
	<string>Please include your e-mail address if you wish to be contacted in regard to this crash.</string>
	<key>SmartCrashReports_CompanyName</key>
	<string>Johan Kool</string>
	<key>SmartCrashReports_EmailTicket</key>
	<string>SCR-9841B93DF2</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Peacock File</string>
			<key>UTTypeIconFile</key>
			<string>peacock_document</string>
			<key>UTTypeIdentifier</key>
			<string>nl.johankool.peacock.data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>peacock</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-peacock</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Peacock Library</string>
			<key>UTTypeIconFile</key>
			<string>peacock_library</string>
			<key>UTTypeIdentifier</key>
			<string>nl.johankool.peacock.library</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>peacock-library</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-peacock-library</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JCAMP-DX File</string>
			<key>UTTypeIconFile</key>
			<string>library_document</string>
			<key>UTTypeIdentifier</key>
			<string>org.jcamp</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.jcamp.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jdx</string>
					<string>dx</string>
					<string>hpj</string>
				</array>
				<key>public.mime-type</key>
				<string>chemical/x-jcamp-dx</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>edu.ucar.unidata.netcdf</string>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NetCDF/ANDI File</string>
			<key>UTTypeIconFile</key>
			<string>netcdf_document</string>
			<key>UTTypeIdentifier</key>
			<string>edu.ucar.unidata.netcdf.andi</string>
			<key>UTTypeReferenceURL</key>
			<string>http://pubs.acs.org/hotartcl/tcaw/98/may/stan.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cdf</string>
					<string>nc</string>
					<string>andi</string>
					<string>aia</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-netcdf</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
